ul {
  list-style: none;
}
li {
  font-size: 16px;
}
.card {
  font-size: 20px;
  max-width: 700px;
  border-radius: 5px;
  border: 1px solid #dadde1;
  margin-top: 30px;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  padding: 20px;
}
.container {
  margin-left: 150px;
}
.weather-forecast {
  font-size: 20px;
  font-style: italic;
  color: #dddddd;

  text-align: center;
}
.actual-temperature {
  font-size: 60px;
  color: #dddddd;
  margin-left: 20px;
}
.city,
button {
  background-color: whitesmoke;
  border: 1px;
  font-size: 18px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 1px 5px;
  text-align: left;
}
.city {
  height: 36px;
  font-weight: 250;
  width: 500px;
}
.units {
  position: relative;
  top: -27px;
  color: rgb(64, 60, 60);
}
#icon-now {
  position: relative;
  top: -10px;
}
#currentCityName {
  font-weight: bold;
  font-size: 35px;
}
#currentDateInfo,
#currentDate,
#currentTime,
#currentDay,
#icon-description {
  font-size: 17px;
}
#currentIcon {
  padding-left: 0px;
}
#icon-description:first-letter {
  text-transform: capitalize;
}
#input-city {
  max-width: 300px;
}
@media (max-width: 576px) {
  #input-city {
    max-width: 140px;
  }
  #currentCityName {
    font-size: 24px;
  }
  button {
    margin-left: 5px;
  }
  li,
  #currentDateInfo,
  #currentDate,
  #currentTime,
  #currentDay,
  #icon-description {
    font-size: 13px;
  }
  .actual-temperature {
    font-size: 40px;
  }
  .units {
    top: -14px;
  }
}
