ul {
  list-style: none;
}
.card {
  font-size: 20px;
  max-width: 850px;
  border-radius: 5px;
  border: 1px solid #dadde1;
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  padding: 20px 0px 20px 20px;
}

.col {
  font-style: italic;
  font-size: 20px;
  color: #dddddd;
}
.actual-temperature {
  font-size: 40px;
  font-style: normal;
  color: #dddddd;
  margin-top: 20px;
}

.city,
button {
  background-color: whitesmoke;
  border: 1px;
  font-size: 18px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 1px 5px;
  text-align: left;
}

.city {
  height: 35px;
  font-weight: 250;
  width: 500px;
}

.units {
  position: relative;
  top: -14px;
  font-style: normal;
}
.col-4 {
  font-size: 20px;
}

#icon-now {
  position: relative;
  top: -10px;
}
#currentCityName {
  font-weight: bold;
  font-size: 35px;
}
#currentDateInfo,
#currentDate,
#currentTime,
#currentDay,
#icon-description {
  font-size: 17px;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
#currentIcon {
  padding-left: 0px;
}

#icon-description:first-letter {
  text-transform: capitalize;
}
li {
  font-size: 16px;
}
